.history
.idea
.vscode
.DS_Store
*.log
test-gpu.yaml
**charts/
!services/helm/openagent/charts/openagent-component/**
!services/helm/openagent/charts/litellm-helm/**
!services/helm/openagent/charts/hermes-workspace/**
!services/helm/openagent/charts/hermes-agent/**
**Chart.lock
.devbox/
**sisyphus
services/helm/openagent/src/openagent-discord-bot
